.a-upload {
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-decoration: none;
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}
.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
        display: inline-block;
        width: 50%;
        height: 20px;
        padding-right: 10px;
        border: 1px solid #999;
        border-radius: 5px; 
}
.h-100P{
        height: 100%;
}
.bar{
        display: inline-block;
        background: #90bf46;
        color: white;
        font-weight: bold;
        padding: 0 5px;
        text-align: right;
        border-radius: 5px;
        border-right: 1px solid #999;
}